{% extends 'base.html.twig' %}

{% block title %}Home - Saldop{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Welcome to Saldop</h1>
    <p>This is the home page of your Symfony application.</p>
</div>
{% endblock %}
